body{
  background: #F5F6FA;
}
.home-top{
  display: flex;
  justify-content: space-between;
  margin: 20px 0; 
}
.home-body{
  padding: 2% 10%;
  display: flex;
  flex-wrap: wrap;
}
.home-body > h4{
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.project{
  width: 33.33%;
  padding: 9px;
}
.project-card{
  background: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
  padding: 15px 10px;
}
@media only screen and (max-width: 536px){
  .project{
    width: 100%;
  }
}
.project-page > h4{
  margin-bottom: 30px;
}
.project-body{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 100%;
}
.project-body::-webkit-scrollbar{
  display: none;
}
.list{
  flex: 0 0 auto;
  width: 25%;
  margin-right: 10px;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 10px 15px;
}